@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Company.</h1>
   <p>Please, Click User Guide for details.</p>
</div>

<a asp-action="GO">Click to see Boss Orders.</a>