@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>User Guides</h1>
<h1>For Reference project Visitors</h1>
<ul>
    <li>This Project has: </li>
    <li>ASP.NET Core </li>
    <li>Admin Panel </li>
    <li>Api Token </li>
    <li>CRUD Operations </li>
    <li>Login Operations </li>
    <li>Authorization Operations </li>
    <li>Used SQL SERVER (Windows Authentication)</li>
    <li>If you want to be first admin, enter the SQL SERVER, change "user" to "admin". You will be admin. Later you can use like admin.</li>
</ul>
<br />

<h1>For Company Employees</h1>
<ol>
    <li>Give yourself a username and have a password. Don't give it to anyone.</li>
    <li>If you want to be an admin; First, register. Then enter the database and make the "user" text "admin". So change your role. So become admin with the same name and password.</li>
    <li>You must be an admin to post orders. Login as admin and click dropdown. Then click at the top.</li>
    <li>Authorization is available in the second part of dropdown.</li>
</ol>